.button{
    background-color: rgb(125, 83, 37);
    border: none;
    color: white;
    padding: 80px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    cursor: pointer;
    border-radius: 1%;
    opacity: 0.8;
    transition: 0.3s;
}

.button:hover{
    opacity: 1
}